* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

main.carousel {
  display:block;
}

.container2{
  display:flex;
  border: thick solid black;
  border-color:black;
  min-width:800px;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-evenly;
}

.simontext {
  width:45%;
}

.container3{
  display:flex;
  flex-direction:column;
  /* padding:40px; */
  gap:30px;
  flex-wrap:wrap;
  column-gap: 40px;
  border: thin dashed black;

}

.carousel-item-next, .carousel-item-prev, .carousel-item-active{
  display:block;
}

.carousel-item{
  height: 32rem;
}

.link-display {
  display: flex;
  gap: 10px;
  border: thick dashed black;
  align-items:center;
}

.web{
  display:flex;
  flex-direction: column;
  align-items:center;
  flex-wrap:wrap;
  width:45%;
}

.carousel-item{
  position:relative;
  display:none;
  float: left;
  width:100%;
  margin-right:100%;
  transition: transform .6s ease-in-out;
  transition-duration: .6s;
  transition-timing-function: ease-in-out;
  transition-property: transform;
}

.presentation {
  display:flex;
  flex-direction: column;
  box-shadow: 0 0 20px 5px; 
  border: thick solid gray;
  height:40vw;
  width:71vw;
  overflow:hidden;
  align-items: stretch;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
